.box {
    position: relative;
    padding: 25px 10px;
    border-radius: 5px;
    background-color: lightblue;
    user-select: none;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.3);
    transition: all 0.15s ease-in;
    &:hover {
      transform: scale(1.02);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.4);
    }

    img {
      width: 24px;
      height: 24px;
    }
    .text-right {
      position: absolute;
      right: 0;
      top: 0;
      padding: 3px;
      font-size: 24px;
    }
  }